/* nav {
  color: white;
  height: 40px;
}

nav.navbar.justify-content-center {
  background-color: #16153c !important;
  height: 14vmin !important;
}

a.text-reset.text-decoration-none {
  margin: 0 7vmin;
}

span.badge.badge-secondary {
  margin-top: 0px;
} */

nav.navbar.navbar-light {
  background-color: #16153c !important;
}

button.mr-2.navbar-toggler {
  background-color: yellow !important;
}

li.nav-item {
  background-color: #16153c;
}
